$text-light: #6D6D6D;
$text-dark: #202020;

.grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 100px));
  gap: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.section_padding{
  padding: 50px 0;
}

.hero{
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header{
  grid-column: 3 / span 8;
  background-color: rgba($color: #fff, $alpha: 0.97);
  margin-top: 50px;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content{
  display: flex;
  align-items: center;
}

.header_nav{
  ul{
    display: flex;
    justify-content: flex-end;
  }
  a{
    text-decoration: none;
    color: $text-light;
    font-weight: bold;
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;
  }
  li{
    list-style-type: none;
  }
}

.hero_content{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: "Oswald", sans-serif;
  h1{
    font-size: 100px;
  }
  h6{
    font-size:20px;
  }
  button{
    background-color: rgba($color: #2B58BF, $alpha: 0.75);
    border-radius: 100px;
    padding: 16px 32px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
  }
}

.section_container{
  grid-column: 4 / span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
  h2{
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #2B58BF;
    text-align: center;
  }
  hr{
    width: 50px;
    border: 2px solid #2B58BF;
  }
  p{
    text-align: center;
    color: $text-light;
    font-family: "Open Sans", sans-serif;
  }
}

.workflow{
  font-family: "Open Sans", sans-serif;
}

.workflow_showcase{
  grid-column: 3 / span 8;
  display: flex;
  justify-content: space-between;
}

.card_image_container{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  img {
    border-radius: 100%;
  }
}

.showcase_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  color: $text-light;
  width: fit-content;
}

.features_showcase{
  grid-column: 4 / span 6;
  display: flex;
  justify-content: space-between;
}

.feature_card{
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-light;
  h5{
    font-size: 52px;
    font-weight: normal;
  }
}

.features{
  background-color: #EDEDED;
}

.testimonials{
  font-family: "Roboto", sans-serif;
  display: flex;
  color: #fff;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  background-image: url("/parallax-testimonial.jpg");
  background-size: cover;
  background-position: center;
  *{
    width: fit-content;
  }
}

.testimonials_title{
  display: flex;
  align-items: center;
  gap: 8px;
  h3{
    font-size: 2rem;
  }
}

.testimonials_author{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.testimonial{
  font-size: 1.5rem;
  text-align: center;
}

.info_section > :first-child{
  grid-column: 4 / span 3;
}

.info_section > :last-child{
  grid-column: 8 / span 3;
}

.info_card{
  h4, h2{
    font-family: "Roboto", sans-serif;
  }
  h2{
    color: #2B58BF;
    font-size: 72px;
  }
  h4{
    color: $text-dark;
    font-size: 1.5rem;
  }
  p{
    font-family: "Open Sans", sans-serif;
    margin-top: 16px;
  }
  button{
    margin-top: 32px;
    background: none;
    border: 2px solid $text-light;
    padding: 12px 24px;
    border-radius: 100px;
    font-family: "Open Sans", sans-serif;
    color: $text-light;
    cursor: pointer;
  }
}